@font-face {
  font-family: "NeuzeitOfficeW01-Regula";
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.eot?#iefix");
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.eot?#iefix") format("eot"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.woff") format("woff"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.ttf") format("truetype"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/regular/regular.svg#85050462-ab1f-4478-a289-36eed1d3c53f") format("svg"); }
@font-face {
  font-family: "Neuzeit Office W01 Bold";
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.eot?#iefix");
  src: url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.eot?#iefix") format("eot"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold.woff") format("woff"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.ttf") format("truetype"), url("http://localdata-static.s3-website-us-east-1.amazonaws.com/fonts/neuzeit/bold/bold.svg#d4cb246e-742d-4269-9f6a-901a050ff03f") format("svg"); }

* {
  margin: 0;
  padding: 0;
  font-family: NeuzeitOfficeW01-Regula, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
}

body {
  background: #fff url(./img/noise.png) repeat left top;
  color: #6e6663;
}

h1 {
  font-family: Neuzeit Office W01 Bold, Helvetica Neue, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #0571b0;
  letter-spacing: 1px;
  color: #fff;
  font-size: 60px;
}

h2 {
  font-family: Neuzeit Office W01 Bold, Helvetica Neue, sans-serif;
  font-size: 40px;
}

.full h2 {
  padding: 20px;
}

h3 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 32px;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #336699;
}

.all {
  background: transparent url(./img/team-small-crop.jpg) no-repeat center -4vh;
  background-size: 100% auto;
  overflow: auto;
}

.out {
  margin: 20vw 5% 25px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(51,51,51,0.25);
}

.tophead {
  margin: 20px 5% 30px;
  text-align: center;
}

.tophead a {
  color: #fff;
  border-bottom: 1px dotted #fff;
  display: inline-block;
  margin: 0 10px;
}

.header {
  overflow: auto;
  background: #58aeff;
  padding: 20px 50px 0px;
}

.content {
  padding: 50px;
  background: #fff;
  font-size: 16px;
  height: 100%;
  border-top-width: 0;
}

.content.full {
  margin-left: 0;
}

.content.homeTODO {
  padding-bottom: 25vw;
  background: transparent url(./img/mayor-walking.jpg) no-repeat center top;
  background-size: 100% auto;
}

p {
  padding: 10px 0 10px 0;
  width: 60%;
  line-height: 1.4;
}

p img {
  margin-right: 10px;
}

div > img {
  float: right;
  width: 39%;
  clear: both;
  margin-bottom: 10px;
  bborder: 5px solid white;
}


iframe {
  border: 0;
}

#nav {
  display: block;
  margin: 0px auto;
  text-align: center;
  border-top: 1px dotted #fff;
  margin-top: 20px;
}

#nav li {
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 0;
}

#nav li a {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 40px;
}

#nav li.selected a {
  background: #fff;
  color: #bf7300;
}

@media only screen
and (max-width : 1100px) {
  .out {
    margin-left: 3%;
    margin-right: 3%;
  }

  .header {
    padding: 20px;
  }

  #nav li a {
    padding: 10px;
  }
}

@media only screen
and (max-width : 768px) {
  .content {
    padding: 20px;
  }

  p {
    width: 100%;
  }

  div>img {
    float: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
    line-height: 1em;
  }

}
