---
title: 'Gary Data - Data from the Gary Parcel Survey'
---
<!DOCTYPE html>
<html>
<head>
  <title>Gary Data - Data from the Gary Parcel Survey</title>
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script type="text/javascript">
    $(function() {
      var $content = $('#content');
      var resize = function() {
        var headerHeight = $('#header').height() + $('#page-title').height();
        var viewportHeight = $(window).height();
        var newHeight = viewportHeight - headerHeight;
        console.log("Setting height", headerHeight, viewportHeight, newHeight, $('iframe'));
        $('iframe').height(newHeight);
        $content.height(newHeight);
      };

      //$( window ).resize(resize);
      // resize();

        $('#nav li').removeClass('selected');
        $(this).parent().addClass('selected');
    });
  </script>
</head>
<body>

  <div class="all">
    <div class="out">
      <div class="header">
        <h1>
            Gary Parcel Survey
        </h1>
        <ul id="nav">
          <li><a href="{{site.baseurl}}/" class="overview">Overview</a></li>
          <li><a href="{{site.baseurl}}/map" class="overview">Explore the map</a></li>
          <li><a href="{{site.baseurl}}/reports" class="reports">Data &amp; Reports</a></li>
          <li><a href="{{site.baseurl}}/about" class="about">How you can help</a></li>
        </ul>
      </div>

      {{content}}
    </div>

    <div class="tophead">
      <div>
        <img src="{{site.baseurl}}/img/seal-t.png" height="125" alt="" style="margin-bottom:2rem">
      </div>
      <a href="http://www.gary.in.us/">
        City of Gary
      </a>
      <a href="http://harris.uchicago.edu/">Harris School of Public Policy</a>
      <a href="http://localdata.com">LocalData</a>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39867070-5', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
